@model BannerVM
@{
    ViewBag.Title = "AddBanner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm("AddBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row m-5">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading m-5">
                Banner Add
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2">Küçük başlık</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Banner.SmallTitle, new { @class = "form-control genislik" })
                    </div>
                </div>
                <br />
                <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2">Büyük başlık</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Banner.BigTitle, new { @class = "form-control genislik" })
                    </div>
                </div>
                    <br />
                    <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2">Button Text</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Banner.ButtonText, new { @class = "form-control genislik" })
                    </div>
                </div>
                        <br />
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2">Button url</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Banner.ButtonUrl, new { @class = "form-control genislik" })
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <div class="col-sm-10">
                                    <button class="btn btn-primary">
                                       Banner ekle
                                    </button>
                                </div>

</section>
    </div>
</div>
}

